// 引入清除默认样式
@use './reset.scss';

// 滚动条样式
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $menu-bg-color;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #ffc0c0;
  border-radius: 5px;
}